.body{
    background-color: #000000;
    background-position: inherit;


}
#title{
    top:39px;
    margin-top:0px;
    font-family: Arial, Helvetica, sans-serif;
    color:#666600;
    vertical-align:top;
    position:absolute;
    float:right;
    padding-top:inherit;
    display:inline;
    margin:5px;
    font-size:18px;
    text-align:center;
    left: 179px;

}
#container{
    width:auto;
    margin:0 auto;
    display:block;
    position:relative;
}
.header{
    width: 1000px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:#666600;
    vertical-align:middle;
}
.left_menu{
    background-color: transparent;
    height: auto;
    width: 180px;
    float: left;
    color: #fff;
    font-family:Geneva,Arial,Helvetica,sans-serif;
    font-size: 10px;
    left:auto;
	margin: 7%;

}
.content1{
    width: auto;
    float: left;
    color: #fff;
    font:Georgia, "Times New Roman", Times, serif;
    list-style-position:inherit;
    text-align:center;
    margin-left: 3px;
	padding: 2px;
}
.content2{
    width: auto;
    float: inherit;
    color: #fff;
    font:Georgia, "Times New Roman", Times, serif;
    list-style-position:inherit;
    text-align:center;
	margin-right: 8px;
	padding: 2px;
}
#footer{
    width: auto;
    padding: 16px 43px 15px;
    min-height:30px;
    overflow:hidden;
    color: #fff;
    font-family:Geneva,Arial,Helvetica,sans-serif;
}
#footer_article{
    float:left;
    text-align:center;
    margin:0 0 12px;
}

#footer_follow{
    float:left;
    text-align:center;
    list-style-position:inherit;
    left:80px;
}

